button { background: #red;}
button:focus, button:active {background: green;}

h1 {
    font-size: 2em;
    width: 100%;
    color: #2c6434;
    font-family: Helvetica;
  }

.food {
    font-family: Helvetica;
}

.activities {
    font-family: Helvetica;
}

.symptoms {
    font-family: Helvetica;
}
